:root {
    --app-height: 100%;
    --accent-color: #f17352;
    --hint-color: #c99a8e;
    --background-color: #331a13;
    --card-color: #3d1d15;
    --link-hover-color: rgba(241, 115, 82, 0.13);
    --divider-color: rgba(0, 0, 0, 0.2);
    --dialog-background: rgba(0, 0, 0, 0.2);
    --ripple-color: rgba(0, 0, 0, 0.07);
    --ripple-duration: .45s;
    --ripple-end-duration: .3s;
}
body {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0;
    margin: 0;
}
html {
    background: var(--background-color);
}
html, body {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select:none;
    user-select:none;
    -o-user-select:none;
}
* {
    -webkit-tap-highlight-color: transparent;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    font-weight: 500;
}
::-webkit-scrollbar {
    width:0;
    display: none;
}
.top_menu {
    width: 85%;
    height: 150px;
    display: flex;
    align-items: center;
    margin: auto;
}
.logo_top {
    width: 60px;
}
.right_text_container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.right_text_container > div:nth-child(1) {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}
.right_text_container > div:nth-child(1) > div:nth-child(1) {
    font-family: "Google Sans", "Roboto", Arial, sans-serif;
    font-weight: 400;
    font-size: 11px;
    color: var(--hint-color)
}
.right_text_container > div:nth-child(1) > div:nth-child(2) {
    font-family: "Google Sans", "Roboto", Arial, sans-serif;
    font-weight: 400;
    font-size: 15px;
    margin-top: 5px;
    color: white
}
.top_bar {
    width: 85%;
    max-width: 900px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: var(--card-color);
    overflow: hidden;
    box-sizing: border-box;
    margin: auto;
}
.top_bar:nth-child(2) > div:nth-child(1) {
    margin-top: 30px;
    height: 180px;
    width: 180px;
}
.top_bar:nth-child(2) > div:nth-child(2) {
    font-family: "Google Sans", "Roboto", Arial, sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: white;
    margin: 10px 30px 15px;
    max-width: 380px;
    line-height: 18px;
    text-align: center;
}
a {
    text-decoration: none;
    color: var(--accent-color);
    padding: 1px 2px;
    margin: 2px 0;
    text-align: center;
    line-height: 18px;
    border-radius: 4px;
}
a:hover {
    background: var(--link-hover-color);
}
.top_bar:nth-child(2) > div:nth-child(3) {
    margin-bottom: 20px;
}
.header_button {
    width: calc(100% - 40px);
    max-width: 380px;
    font-size: 15px !important;
    padding: 12px 22px !important;
    margin-bottom: 20px;
}
.button-item.ripple-handler {
    position: relative;
}
.button-item {
    display: inline-block;
    padding: 6px 16px;
    border-radius: 7px;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
}
.ripple-mask {
    position: absolute;
    left: 0; right: 0;
    top: 0; bottom: 0;
    transform: translateZ(0);
    overflow: hidden;
    pointer-events: none;
}
.button-item .ripple-mask {
    border-radius: inherit;
}
.button-item .ripple {
    position: absolute;
    width: 200%;
    left: 50%; top: 50%;
    margin: -100% 0 0 -100%;
    padding-top: 200%;
    border-radius: 50%;
    background-color: var(--ripple-color);
    transition:
            transform var(--ripple-duration) ease-out,
            opacity var(--ripple-duration) ease-out,
            background-color var(--ripple-duration) ease-out;
    opacity: 0;
}
.button-item-label {
    font-variation-settings: 'FILL' 0, 'wght' 800, 'GRAD' -25, 'opsz' 48 !important;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top;
    z-index: 1;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex !important;
    justify-content: center;
    align-items: center;
}
.button-item-label > img {
    margin-right: 5px;
    width: 20px;
}
body > div:nth-child(1) > div:nth-child(3) {
    margin-top: 20px;
    margin-bottom: 20px;
}
.header_text {
    font-family: google sans,roboto,Arial,sans-serif;
    font-weight: 540;
    color: var(--accent-color);
    width: calc(100% - 20px);
    margin-top: 16px;
    margin-left: 20px;
    margin-bottom: 5px;
    font-size: 16px;
}
.banned_user_button {
    width: 100%;
    padding: 0 !important;
    border-radius: 0 !important;
}
.banned_user_button > div:nth-child(1) {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    box-sizing: border-box;
}
.banned_user_button > div:nth-child(1) > div:nth-child(1) {
    font-size: 25px;
    aspect-ratio: 1/1;
    min-width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--accent-color);
    border-radius: 40px;
}
.banned_user_button > div:nth-child(1) > div:nth-child(2) {
    margin-left: 15px;
}
.banned_user_button > div:nth-child(1) > div:nth-child(2) > div:nth-child(1) {
    font-size: 17px;
    color: white;
    margin-bottom: 5px;
}
.banned_user_button > div:nth-child(1) > div:nth-child(2) > span:nth-child(2) {
    font-size: 14px;
    margin-top: 5px;
    font-weight: 400;
    color: var(--hint-color)
}
.banned_user_button > div:nth-child(1) > div:nth-child(2) > span:nth-child(2) > span:nth-child(1) {
    margin-right: 5px;
    font-weight: 500;
    color: var(--accent-color);
}
.banned_user_button > div:nth-child(1) > div:nth-child(3) {
    position: absolute;
    width: calc(100% - 40px);
    height: 100%;
    display: flex;
    justify-content: flex-end;
}
.banned_user_button > div:nth-child(1) > div:nth-child(3) > span:nth-child(1) {
    font-size: 14px;
    font-weight: 400;
    color: var(--hint-color);
    margin-top: 10px;
}
.divider {
    position: absolute;
    width: calc(100% - 40px);
    height: 100%;
    display: flex;
    align-items: flex-end;
}
.divider > div{
    width: 100%;
    margin-left: 65px;
    height: 1px;
    background: var(--divider-color);
}
.sp_header > .button-item:last-child .divider {
    display: none;
}
.data {
    display: none;
}
.dialog {
    position: absolute;
    width: 100%;
    height: var(--app-height);
    background: var(--dialog-background);
    z-index: 2;
    display: flex;
    opacity: 0;
    justify-content: center;
    align-items: center;
    transition: opacity .2s ease;
    animation: blur_animation .2s;
}
.dialog > div:first-child {
    width: 100%;
    height: 100%;
    position:absolute;
}
.dialog_component {
    background: var(--background-color);
    box-shadow: 0 4px 8px 0 var(--dialog-background);
    border-radius: 15px;
    animation: opacity 0.5s ease-in-out;
    padding: 20px;
    width: calc(100% - 140px);
    max-width: 300px;
    z-index: 100;
}
.dialog_component > div:nth-child(1) {
    font-size: 19px;
    font-weight: 500;
    color: var(--accent-color);
}
.dialog_component > div:nth-child(2) > p {
    margin-top: 10px;
    color: var(--hint-color);
    font-size: 15px;
    font-weight: 400;
}
.dialog_component > div:nth-child(3) {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
}
.close_dialog_button {
    padding: 8px 16px;
}
.close_dialog_button .ripple {
    background-color: var(--link-hover-color);
}
.close_dialog_button .button-item-label {
    color: var(--accent-color);
}
@keyframes blur_animation {
    0% { backdrop-filter: blur(0px);}
    100% { backdrop-filter: blur(5px);}
}
body > div:nth-child(1) > div:nth-child(4) {
    margin-bottom: 20px;
}
