.color_body{

    background-color: #229ED9;
    color: black;
}

.color_body_due{
    background-color: #179CDE;
    color: black;
}

.color_body_black{
    background-color: #333333;
    color: white;
}

a:link {
  text-decoration: none;
}
